# =====================
# Archivos del sistema
# =====================
.DS_Store
Thumbs.db
desktop.ini

# =====================
# Logs y temporales
# =====================
*.log
*.tmp
*.swp

# =====================
# Carpetas de builds y dependencias
# =====================
node_modules/
dist/
build/
out/
target/
venv/
.venv/

# =====================
# Archivos de configuración local
# =====================
.env
*.local

# =====================
# Configuración de IDEs
# =====================
.vscode/
.idea/
*.iml

