# === Archivos de sistema (Linux/Mac) ===
.DS_Store
Thumbs.db

# === Archivos temporales ===
*.log
*.tmp
*.swp

# === Archivos de Python ===
__pycache__/
*.pyc
*.pyo
*.pyd
*$py.class

# === Jupyter Notebooks ===
.ipynb_checkpoints/

# === VSCode ===
.vscode/

# Ignorar entornos virtuales
.venv/
venv/
*/.venv/
*/venv/

# Archivos de configuracion locales
.env
*.env

# Bases de datos locales / cachés
*.sqlite3
*.db
*.log

# Archivos de editor/IDE
.vscode/
.idea/
