# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.eggs/
dist/
build/
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.pyre/
.pytype/
.ipynb_checkpoints/

# Entornos
.venv/
venv/
env/
ENV/
*.env
.env
.env.*

# Editores / SO
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.swp
.DS_Store
Thumbs.db

# Logs y otros
*.log
docker-data/
